<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <div class="container" style="padding-top:45px; padding-bottom:45px">
    <div class="card" style="width: 48rem; margin-bottom:30px">
      <img src="{{post.image.url}}" class="card-img-top" alt="{{post.title}}">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
          <small>{{post.date}}</small>
        <p class="card-text">{{post.content}}</p>
        <a href="#" class="btn btn-primary">More</a>
      </div>
    </div>
    </div>

    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>